.dashboard-main{
    font-size: 30px;
    min-height: 100vh;
    width: 100%;
    margin-top: auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard-main p{
  font-size: 20px;
  padding: 0 20px
}

.logout-button{
    background: black;
    color: white;
    border: 3px solid black;
    transition: background 1s linear 0ms;
    transition: color 500ms linear 0ms;

    width: 500px;
    padding: 16px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
    margin-top: 10px;

    font-size: 20px;
    text-align: center;
    text-decoration: none;
  }

  
  .logout-button:hover{
    color: #333;
    background-color: white;
  }

  .image-scroll {
    display: flex;
    overflow-x: auto;
    padding: 20px;
  }
  
  .image-scroll img {
    max-height: 100%;
    cursor:all-scroll;
    overflow-x: scroll;
  }
  .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.image-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .image-scroll {
    flex-direction: column;
  }
}
